@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-vazir: "Vazirmatn", sans-serif;
}

body {
  font-family: "Vazirmatn", sans-serif;
}
.font-manrope {
  font-family: "manrope", sans-serif;
}

/* Scrollbar && Mouse Select */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #f5b800;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d99f00;
}

::selection {
  background: #f5b800;
  color: #181818;
}
